.main-content {
  img {
    display: block;
    width: 80%;
    max-width: 280px;
    margin: 0 auto;
  }
}

@include media-query(sm) {
  .main-content {
    img {
      float: right;
      max-width: 40%;
      margin: 0;
    }
  }
}

@include media-query(md) {
  .main-content {
    img {
      max-width: 30%;
    }
  }
}

strong.highlight {
  background-color: yellow;
  padding: 0 0.1em;
}

.views-exposed-widget {
  max-width: 70vw;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2em;
}

.views-table {
  th,
  td {
    padding: 10px;
    white-space: nowrap;
    &:first-child {
      white-space: normal;
    }
  }
  p {
    margin-bottom: 0;
  }
  tr.even {
    background-color: #ffffff;
  }
}

.ds-2col-fluid > .group-left {
  padding-right: 1em;
}

.ds-2col-fluid > .group-right .field {
  margin-bottom: 1em;
}

td.data--read-more {
  display: none;
}

@media screen and (max-width: 769px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 0;
    display: flex;
    margin-bottom: .625em;
    flex-wrap: wrap;
  }

  table tr.even,
  table tr.odd {
    border-bottom: 0;
  }

  table td {
    border-bottom: 0;
    display: block;
    text-align: left;
    flex: 1;
  }

  td.views-field-field-link {
    max-width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td.views-field-view-node {
    text-align: center;
  }

  td.data--read-more {
    display: block;
    text-align: right;
  }

  td.views-field-field-text-value {
    flex: 0 0 100%;
  }

  table .views-field-field-text-value p.collapsed {
    max-height: 3.6em;
    overflow: hidden;
  }

  table .views-field-field-text-value p.collapsed:after {
    content: "";
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}

.current-search-item li {
  max-width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#block-views-exp-extracts-page {
  @include clearfix;

  .content {
    max-width: 300px;
    float: left;
  }

  .toggle-button {
    float: left;
    margin-left: 2em;
  }

  .form-item {
    background: rgb(249, 251, 251);
    padding: 0;
  }

  label {
    display: none;
  }

  input[type="text"] {
    width: 100%;
    text-align: left;
    padding: 12px 24px 12px 0;
    border:0;
    border-bottom: 1px solid #ecf1f4;
    position: relative;
    color: #007ac0;
    font-size: 16px;
    font-size: 1.1428571429rem;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    background: 0 0;
    transition: all .3s ease;
    cursor: pointer;
  }

  .views-widget-filter-search_api_views_fulltext {
    width: 180px;
  }

  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
    width: 70px;
  }

  button.toggle-button {
    border-radius: 4px;
    background: #007ac0;
    text-transform: uppercase;
    color: #fff;
    padding: 12px;
    transition: background .3s ease;
    margin-top: 6px;
  }
}

.region-content-top-2 {
  @include clearfix;
  margin-bottom: 2em;

  .facetapi-select {
    max-width: 100%;
    width: 100%
  }

  #block-current-search-standard {
    padding: 10px;
    background-color: #dfdfdf;
    margin-top: .5em;
  }

  @include media-query(md) {
    .block-facetapi {
      width: 32%;
      float: left;
      margin-left: 1%;
      &:first-child {
        margin-left: 0;
      }
      &:nth-child(3) {
        float: right;
      }
    }
  }
}
