.cd-global-header {
  background: $primary-bg-color;
  color: $light-text-color;

  .dropdown-menu {
    top: 30px;
  }
}

.cd-global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $cd-global-header-height;

  .no-flexbox & {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

}

.cd-global-header__sites {
  position: relative;
  margin-left: -$base-unit;

  .no-flexbox & {
    float: left;
  }
}

.cd-global-header__sites-btn, .cd-global-header__lang-btn {
  color: $light-text-color;
  text-transform: uppercase;
  text-align: left;
  padding: 0 $base-unit;
  height: $cd-global-header-height;
  @include font-size($small-font-size);
  font-weight: 300;

  &:hover, &:focus {
    background: darken($primary-bg-color, 10%);
    outline: none;
  }
}

.cd-global-header__nav {
  margin-right: -$base-unit;
  display: flex;

  .no-flexbox & {
    float: right;
  }
}

.cd-global-header__language-switcher {
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 14px;
    height: 12px;
    z-index: 1;
    background: white;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {

  .cd-global-header__sites {
    margin-left: 0;
  }

  .cd-global-header__sites-btn {
    @include font-size($base-font-size);
  }

  .cd-global-header__nav {
    margin-right: 0;
  }

}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .cd-global-header__lang-btn {
    @include font-size($medium-font-size);
    padding: 0 $base-unit*2;

    .icon-arrow-down {
      @include font-size($base-font-size);
    }
  }
}
