.chosen-container {
  width: 100% !important; //over ride chosen's inline style
  @include font-size($cd-font-size-base);
  background: white;

  .chosen-drop {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
    @include font-size($cd-font-size-base);
  }

  .chosen-results {
    max-height: 240px;

    li {
      padding: $cd-base-unit;
    }

    li.active-result {
      &.highlighted {
        background: $cd-ocha-blue;
      }
    }

  }

  &.error {
    background-image: none;
  }
}

.chosen-container-single.chosen-container-active {

  .chosen-single {
    border-color: $highlight-border-color;
  }

}

.chosen-container-single .chosen-search {

  &:after {
    content: "\e919";
    font-family: 'unocha-icons' !important;
    position: absolute;
    right: $cd-base-unit*.75;
    @include font-size(24);
    margin-top: $cd-base-unit*.25;
  }

  input[type="text"] {
    @include font-size($cd-font-size-medium);
    font-weight: 300;
    color: $body-text-color;
    padding: $cd-base-unit $cd-base-unit*4 $cd-base-unit $cd-base-unit;
    background: none !important;
  }

}

.chosen-container-active.chosen-with-drop {

  .chosen-single {
    border-color: #ddd;
    background: none;

    div b {
      transform: rotate(180deg);
    }
  }
}

.chosen-container {
  .chosen-single, .chosen-choices {
    background: none;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
    height: auto;
    padding: $cd-base-unit/2 $cd-base-unit;
    line-height: $cd-base-unit*3;
  }

  .chosen-single {
    div {
      width: $cd-base-unit*3;

      b {
        font-family: 'unocha-icons';
        //@extend .icon-arrow-down;
        text-align: center;
        line-height: 32px;
        background: none !important;
      }
    }
  }
}

.chosen-legend {
  display: inline-block;
  width: $cd-base-unit*1.5;
  height: $cd-base-unit*1.5;
  margin-right: $cd-base-unit;
}

@include tablet {

  .chosen-legend {
    width: $cd-base-unit;
    height: $cd-base-unit;
  }

}
