a,
body,
div,
footer,
form,
h1,
header,
html,
i,
img,
label,
li,
p,
span,
ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

footer,
header {
  display: block;
}

body {
  line-height: 1;
  font-family: helvetica,arial,sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 300;
  color: #565d68;
  line-height: 1.5;
  background: #fff;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  height: 100%;
}

html,
input {
  font-size: 87.5%;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(86, 93, 104);
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  line-height: 1;
  font-family: helvetica,arial,sans-serif;
  font-size: 14px;
  color: #565d68;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -190px;
}

.page-wrapper::after {
  content: '';
  display: block;
  height: 190px;
}

.region-content {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.row {
  margin-right: -16px;
  margin-left: -16px;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.col-md-6,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }

  .col-md-8 {
    float: left;
    width: 66.6666666667%;
  }
}

h1 {
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1.1428571429rem;
  color: #007ac0;
  font-weight: 400;
}

h1 {
  font-size: 1.1428571429rem;
  color: rgb(0, 122, 192);
  font-weight: 400;
  font-size: 16px;
  color: #007ac0;
}

h1,
p,
ul {
  margin-bottom: 8px;
}

a {
  color: rgb(13, 96, 132);
  color: #0d6084;
}

ul {
  list-style: initial;
  margin-left: 24px;
}

@media (min-width: 576px) {
  h1,
  p,
  ul {
    margin-bottom: 16px;
  }
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  font-size: 1rem;
  color: rgb(86, 93, 104);
  border: none;
  box-shadow: none;
  background-position: 0px 0px;
  background-repeat: initial initial;
}

.form-submit,
input[type="submit"].form-submit {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(0, 122, 192);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 12px;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  background-position: initial initial;
  background-repeat: initial initial;
}

.footer {
  background-color: rgb(0, 122, 192);
  padding: 16px 0px;
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-size: 0.8571428571rem;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  height: 190px;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #007ac0;
  padding: 16px 0;
  color: #fff;
  font-size: 12px;
  font-size: .8571428571rem;
  font-family: "Open Sans",helvetica,arial,sans-serif;
}

.footer p {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.footer a {
  color: rgb(255, 255, 255);
}

.footer__logo {
  margin-bottom: 8px;
}

.footer__logo a {
  display: block;
  margin-top: 4px;
}

.footer__logo img {
  width: 140px;
}

.footer__licence {
  position: relative;
  padding-right: 36px;
}

.footer__licence .icon-creative-commons {
  font-size: 2.1428571429rem;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 30px;
  right: 0;
  top: 0;
}

.footer__licence a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.6);
  font-style: italic;
  border-bottom: 1px solid rgba(255,255,255,.6);
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 0px;
  }

  .footer__logo a {
    margin-top: 8px;
  }

  .footer__logo img {
    width: 160px;
  }

  .footer__licence {
    text-align: right;
    padding: 20px 44px 0px 0px;
  }

  .footer__licence .icon-creative-commons {
    font-size: 2.4285714286rem;
    top: 20px;
  }
}

@media print {
  .footer {
    display: none !important;
    display: none!important;
  }
}

input[type="text"] {
  font-size: 1rem;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  max-width: 100%;
}

.form-item {
  background-color: rgb(236, 241, 244);
  padding: 16px;
  margin: 0px 0px 1px;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #ecf1f4;
  margin: 0 0 1px 0;
}

label {
  font-weight: 700;
}

[class^="icon-"] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-family: unocha-icons !important;
}

.icon-arrow-down::before {
  content: ;
}

.icon-creative-commons::before {
  content: ;
}

.views-exposed-widget {
  max-width: 70vw;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2em;
}

a.skip-link {
  position: absolute;
  left: -99999px;
  color: rgb(255, 255, 255);
  font-size: 0.8571428571rem;
  color: #fff;
  font-size: 12px;
  font-size: .8571428571rem;
}

.cd-global-header {
  background-color: rgb(0, 122, 192);
  color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #007ac0;
  color: #fff;
}

.cd-global-header__inner {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cd-global-header__sites {
  position: relative;
  margin-left: -8px;
}

.cd-global-header__sites-btn {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
  padding: 0px 8px;
  height: 40px;
  font-size: 0.8571428571rem;
  font-weight: 300;
}

.cd-global-header__nav {
  margin-right: -8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .cd-global-header__sites {
    margin-left: 0px;
  }

  .cd-global-header__sites-btn {
    font-size: 1rem;
  }

  .cd-global-header__nav {
    margin-right: 0px;
  }
}

.cd-header {
  margin-bottom: 8px;
}

.cd-header button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: none;
}

.cd-header ul {
  list-style: none;
  margin: 0px;
  margin: 0;
}

.cd-header .container::after {
  content: none;
}

.cd-header h1 {
  margin: 0px;
  margin: 0;
}

.cd-dropdown {
  position: relative;
}

.cd-dropdown-menu {
  position: absolute;
  z-index: 200;
  background-color: rgb(255, 255, 255);
  min-width: 212px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 1px;
  display: none;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.25);
}

.cd-dropdown-menu a {
  display: block;
  padding: 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(179, 179, 179);
  text-decoration: none;
  color: rgb(86, 93, 104);
  word-break: break-word;
  border-bottom: 1px solid #b3b3b3;
  color: #565d68;
}

@media (min-width: 768px) {
  .cd-header {
    margin-bottom: 24px;
  }
}

@media print {
  .cd-global-header {
    display: none !important;
  }
}

.cd-site-header {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 241, 244);
  border-bottom: 2px solid #ecf1f4;
}

.cd-site-header__inner {
  -webkit-align-items: center;
  position: relative;
  height: 48px;
  display: -webkit-flex;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .cd-site-header__inner {
    height: 60px;
  }
}