.cd-nav--secondary {
  display: flex;
}

.cd-nav li {
  position: relative;

  .cd-dropdown-menu {
    left: auto;
    right: 0;

    min-width: 120px;
  }

  .cd-dropdown-menu--small {
    min-width: 100%;
  }


  &:last-child {
    .cd-nav a {
      &:before {
        content: none;
      }
    }
  }
}

.cd-nav--primary  li {
  text-transform: uppercase;
}
.cd-nav--secondary  li {
  display: inline-block;
}

.cd-nav a {
  display: block;
  line-height: 1;
  padding: 0 $base-unit;
  text-decoration: none;
  position: relative;
  @include font-size($medium-font-size);

  &:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    right: -1px;
    top: 2px;
    height: $base-unit*1.5;
    z-index: map-get($zindex, default);
  }

  .icon-arrow-down {
    font-size: 14px;
    line-height: 1.5;
  }

  .cd-active & {
    font-weight: bold;

    &:after {
      border-color: $cd-highlight-color
    }
  }

}

.cd-nav--secondary a {
  color: $light-text-color;
  height: $cd-global-header-height;
  padding: $base-unit*1.75 $base-unit;
  @include font-size($small-font-size);

  &:before {
    background: $light-text-color;
    top: 14px;
  }

  &:hover, &:focus {
    outline: none;
    background: darken($primary-bg-color, 10%);
  }

  &.active {
    color: $light-text-color;
  }
}

.cd-nav--secondary {
  li {
    &:last-child {
      a {
        &:before {
          content: none;
        }
      }
    }
  }
}

.cd-nav--primary a {
  color: $primary-bg-color;
  height: $base-unit*6;
  align-items: center;
  border-bottom: none;
  display: flex;

  &:before {
    content: none;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  &:hover, &:focus {
    background: $cd-nav-focus-bg;
    outline: none;

    &:after {
      border-color: $cd-highlight-color;
    }
  }
}


.cd-nav__label:not(.cd-nav__label--mobile) {
  @extend .sr-only;
}

@media (min-width: map-get($grid-breakpoints, md)) {

  .cd-nav--secondary {
    .no-flexbox & {
      float: right;
    }
  }

  .cd-nav li {
    .cd-dropdown-menu {
      min-width: 0;
    }
  }

  .cd-nav__label {
    @include font-size($medium-font-size);
  }

  .cd-nav__label:not(.cd-nav__label--mobile)  {
    position: relative;
    height: auto;
    width: auto;
    clip: auto;
    margin: 0 0 0 $base-unit;
  }

}

@media (min-width: map-get($grid-breakpoints, lg)) {

  .cd-nav {
    display: flex;
  }

  .cd-nav li {
    display: inline-block;
    border: none;
  }

  .cd-nav--primary li {
    border-bottom: none;
  }

  .cd-nav a {
    @include font-size($base-font-size);
  }

  .cd-nav--primary a {
    height: $cd-site-header-height-md;

    &:hover, &:focus {
      text-decoration: none;
      color: $primary-bg-color;
    }

    &:before {
      content: "";
      top: 50%;
      margin-top: -$base-unit*.75;
      background: $primary-bg-color;
    }

    .no-flexbox & {
      height: auto;
      display: block;
      padding-top: $base-unit*2;
      padding-bottom: $base-unit*2;
    }
  }

}

@media (min-width: map-get($grid-breakpoints, xl)) {

  .cd-nav a {
    padding: 0 $base-unit*2;
    @include font-size($medium-font-size);
  }

  .cd-nav--primary a {
    padding: 0 $base-unit*2;
  }

  .cd-nav--secondary a {
    padding: $base-unit*1.5 $base-unit*2;
  }

}
