.cd-header {
  margin-bottom: $base-unit;

  button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .container {
    &:after {
      content: none;
    }
  }

  h1 {
    margin: 0;
  }

  ::-webkit-input-placeholder {
    color: $heading-text-color;
    font-style: italic;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $heading-text-color;
    font-style: italic;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $heading-text-color;
    font-style: italic;
    font-weight: 300;
  }
  :-moz-placeholder {
    color: $heading-text-color;
    font-style: italic;
    font-weight: 300;
  }
}

.cd-dropdown {
  position: relative;
}

.cd-dropdown-menu {
  position: absolute;
  z-index: map-get($zindex, dropdown);
  background: white;
  min-width: 212px;
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  display: none;

  .open & {
    display: block;
  }

  a {
    display: block;
    padding: $base-unit*1.5;
    border-bottom: 1px solid $border-color;
    text-decoration: none;
    color: $body-text-color;
    word-break: break-word;

    &:hover, &:focus {
      background: $primary-bg-color;
      color: $light-text-color;
    }
  }
  .cd-global-header__language-switcher & {
    min-width: 50px;
  }
}

@include media-query(md) {

  .cd-header {
    margin-bottom: $base-unit*3;
  }
}

@media print {

  .cd-global-header, .cd-site-header__search, .cd-nav {
    display: none!important;
  }

  .cd-site-header__logo {
    width: auto!important;
    height: auto!important;
    text-decoration: none;
    font-weight: bold;

    .sr-only {
      position: relative;
      width: auto;
      height: auto;

    }
  }

}
