@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/sites/all/themes/custom/ocha_basic/fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h1, h2 ,h3 ,h4 ,h5 {
  line-height: 1.2;
  font-weight: bold;
  font-family: $heading-font;
}

h1 {
  @include font-size($cd-font-size-medium);
  color: $cd-ocha-blue;
  font-weight: normal;
}

h1, h2 ,h3 ,h4 ,h5, p, ol, ul, dl {
  margin-bottom: $cd-base-unit;
}

h4, h5 {
  font-weight: 400;
}

a {
  color: $cd-dark-blue;

  &:hover, &:focus {
    color: $cd-ocha-blue;
    text-decoration: none;
  }
}

ol, ul {
  list-style: initial;
  margin-left: $cd-base-unit*3;
}

ol {
  list-style: decimal;
}

.event-heading {
  padding-bottom: $cd-base-unit*1.5;
  border-bottom: 1px solid $cd-border-color;
  color: $cd-ocha-blue;
  font-weight: 300;
}

.event-heading {
  color: $cd-ocha-blue;
  font-weight: normal;

  span {
    color: $cd-ocha-blue;
    font-weight: 300;
  }
}

.node-type-page .content {

  .submitted {
    margin-bottom: $cd-base-unit;
  }

  li {
    margin-bottom: $cd-base-unit/4;
  }

  strong {
    font-weight: 400;
  }
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: $cd-base-unit;
}

@include min-width(sm) {

  .event-heading, .node-type-page h1 {
    @include font-size($cd-font-size-xlarge);
  }

  .node-type-page .content {

    p, ul, ol, dl {
      @include font-size($cd-font-size-base);
    }

    li {
      margin-bottom: $cd-base-unit/2;
    }

  }

  h2 {
    @include font-size($cd-font-size-medium);
  }

  h1, h2 ,h3 ,h4 ,h5, p, ol, ul, dl {
    margin-bottom: $cd-base-unit*2;
  }

}
