$base-unit: 8px;
$max-width: 1200px;
$footer-height: 190px;

// Header
$cd-global-header-height:$base-unit*5 !default;
$cd-site-header-height-xs:$base-unit*6 !default;
$cd-site-header-height-md:$base-unit*7.5 !default;
$cd-max-width: $max-width !default;
$cd-logo-width:$base-unit*30 !default;
