.block-views {
  display: block;
  margin: $base-unit 0;

  label {
    font-family: $heading-font;
    margin-bottom: $base-unit/2;
  }
}

.block-views.processed {
  .content .item-list {
    display: none;
  }
}

.calendar-sidebar-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: $base-unit*4;
}

.calendar-actions, .calendar-actions__section {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: map-get($zindex, sidebar);
  overflow: scroll;
  padding: $base-unit*5 $base-unit*2 $base-unit*2 $base-unit*2;
  transition: transform 0.3s ease, visibility 0.3s ease;
  transform: translateX(-100% - 10);

  &.active {
    transform: translateX(0);
    visibility: visible;
  }
}

.calendar-actions {
  @include clearfix;
  font-family: $heading-font;

  .open {
    .dropdown-menu {
      overflow: visible;
      border-bottom: 1px solid $light-border-color;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
    position: static;
    overflow: hidden;
    margin: 0;
    list-style: none;
    background: white;

    li {
      margin: $base-unit 0;
      border: none;

      &> button {
        text-align: left;
      }
    }

    .fc-button {
      text-align: left;
      text-transform: uppercase;

      &.fc-state-active {
        color: $heading-text-color;

        &:hover, &:focus {
          color: $light-text-color;
        }
      }
    }

    label {
      line-height: 1.3;
      margin: $base-unit 0;
    }


    a {
      &:hover, &:focus {
        background: none;
        color: $body-text-color;
      }
    }

  }

  .dropdown-backdrop {
    display: none;
  }

}

.calendar-actions__btn {
  position: absolute;
  right: $base-unit*1.25;
  top: $base-unit/2;
  color: $heading-text-color;
  text-transform: uppercase;
  padding: $base-unit;

  .dropdown-menu & {
    height: auto;
    width: auto;
    padding: $base-unit;
  }
}

.calendar-actions__toggle, input[type="text"].calendar-search__input {
  width: 100%;
  text-align: left;
  padding: $base-unit*1.5 $base-unit*3 $base-unit*1.5 0;
  border-bottom: 1px solid $light-border-color;
  position: relative;
  color: $heading-text-color;
  @include font-size($medium-font-size);
  font-family: $heading-font;
  @extend .icon-arrow-down;
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;

  &:before {
    font-family: 'unocha-icons';
    font-weight: normal;
    position: absolute;
    right: $base-unit/2;
    top: $base-unit*2;
    height: $base-unit*2;
    line-height: $base-unit*2;
  }

  &:hover, &:focus, .open & {
    color: $link-text-color;
    background: lighten($light-bg-color, 4%);
    border-color: $highlight-border-color;
    padding-left: $base-unit/2;
    outline: none;
  }

  &[aria-expanded="true"] {
    &:before {
      transform: rotate(180deg);
    }
  }

  span {
    text-transform: capitalize;
  }
}

.calendar-filters__inner {

  .chosen-container {
    height: calc(100% - 40px);

    .chosen-single {
      border: none!important;

      span {
        display: none;
      }
    }

    .chosen-drop {
      position: relative;
      height: 100%;
      top: 0;
      border: none;
    }

    .chosen-results {
      max-height: none;
      height: calc(100% - 40px);
      margin: 0;
      padding: 0;
    }
  }

  .chosen-container-active.chosen-with-drop {
    border: none;
    .chosen-single {
      border: none;
    }
  }

  .chosen-container-single .chosen-search {
    padding: 0;
  }
}

.calendar-filters__button {
  text-transform: uppercase;
  text-align: left;
}

.calendar-filters__current {
  padding: $base-unit 0;
  border-bottom: 1px solid $light-border-color;
  font-style: italic;

  strong {
    font-style: normal;
  }
}

.calendar-settings__tz-dropdown {
  padding: $base-unit/2 0 $base-unit*1.5 0;
}

.show-ical {
  li > button {
    display: none;
  }
}

.calendar-export__ical-link-holder {
  position: relative;
  display: none;

  .show-ical & {
    display: block;
  }
}

.calendar-export__ical-link-holder {
  .calendar-export__ical-link {
    height: $base-unit*4.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid $border-color;
    background: $light-bg-color;
    padding: 0 $base-unit*5 0 $base-unit;
    line-height: $base-unit*4.25;
    color: $heading-text-dark-color;
  }

  .calender-export__ical-copy {
    width: $base-unit*4.5;
    height: 34px;
    position: absolute;
    text-indent: -999999px;
    right: 9px;
    bottom: 9px;
    padding: 0;
    background: white;
    text-align: center;
    line-height: 12px;

    &:before {
      content: "\e913";
      font-family: 'unocha-icons' !important;
      display: block;
      text-indent: 0;
    }

    &.success {
      &:before {
        content: "\e944";
      }
    }
  }
}

.calendar-export__ical-link-label {
  font-weight: bold;
  margin: $base-unit 0;
}

.calendar-export__ical-info {
  margin-top: $base-unit*2;
}

.calendar-search {
  position: relative;

  ::-webkit-input-placeholder {
    color: $heading-text-color;
  }
  ::-moz-placeholder {
    color: $heading-text-color;
  }
  :-ms-input-placeholder {
    color: $heading-text-color;
  }
  :-moz-placeholder {
    color: $heading-text-color;
  }
}

input[type="text"].calendar-search__input {
	border-top: none;
	border-left: none;
	border-right: none;
  width: 100%;
  cursor: initial;
  z-index: map-get($zindex, default);
}

.calendar-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: $base-unit*4;
  height: 100%;
  justify-content: center;
  z-index: map-get($zindex, default);
}

.calendar-search__clear {
  position: absolute;
  top: 0;
  right: $base-unit*4;
  width: $base-unit*4;
  height: 100%;
  justify-content: center;
  z-index: map-get($zindex, default);
}

@include media-query(md) {

  .block-views {
    width: 25%;
    float: left;
    padding-right: $base-unit;
    margin: $base-unit/2 0 $base-unit*1.5 0;

    &:nth-child(4n) {
      padding: 0;
    }
  }

  .calendar-actions {
    position: relative;
    max-width: none;
    width: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    transform: none;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    visibility: visible;
    display: flex;
    justify-content: space-between;

    .dropdown-menu {
      margin-top: 2px;
    }

    .flexbox & {
      &:after {
        content: none;
      }
    }

    .no-flexbox & {
      display: block;
    }
  }

  .calendar-actions__close, .calendar-sidebar-btn, .calendar-actions__btn, .calendar-filters__button {
    display: none;
  }

  .calendar-actions__section {
    position: static;
    transform: none;
    width: auto;
    top: auto;
    left: auto;
    padding: 0;
    overflow: visible;
  }

  .calendar-actions__toggle, input[type="text"].calendar-search__input {
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    padding: $base-unit $base-unit*2.5 $base-unit $base-unit/2;
    @include font-size($small-font-size);

    &:before {
      top: 10px;
      right: $base-unit/2;
    }

  }

  .calendar-export {
    width: $base-unit*10;
    float: right;
    margin: 0;

    .dropdown-menu {
      min-width: 0;

      li {
        margin: 0;
        border-bottom: 1px solid $light-border-color;
      }

      button {
        padding: $base-unit*1.5 $base-unit;
      }
    }
  }

  .calendar-export__ical-link-holder {
    padding: $base-unit;
  }

  .calendar-settings {
    width: auto;
    max-width: 390px;
    float: left;
    margin-right: $base-unit;

    .calendar-actions__toggle {
      height: 35px;
      overflow: hidden;
      line-height: 1.5;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .dropdown-menu {
      padding: 0 $base-unit;

      label {
        margin-top: $base-unit*1.5;
      }
    }

    .chosen-container {
      max-width: 100%;
      margin-bottom: $base-unit*1.5;
    }

    .chosen-container.chosen-with-drop .chosen-drop {
      position: relative;
    }
  }

  .calendar-settings, .calendar-export {
    position: relative;

    .dropdown-menu {
      position: absolute;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    }

    .dropdown-backdrop {
      display: block;
    }

    &.open {
      .calendar-actions__toggle {
        border-color: $highlight-border-color;
      }

      .dropdown-menu {
        position: absolute;
        width: 100%;
        border: none;

        &.show-ical {
          width: 480px;
          right: 0;
          left: auto;
        }
      }
    }
  }

  .calendar-actions__secondary {
    position: absolute;
    right: 0;
    top: 0;
  }

  .calendar-filters {
    width: 100%;
    border-bottom: 2px solid $light-border-color;

    .calendar-actions--filtered & {
      border-bottom: none;
    }

    .calendar-actions__toggle {
    	width: auto;
      max-width: 94px;
      z-index: map-get($zindex, default);
      margin-left: 208px;
    }

    .dropdown-menu {
      width: 100%;
      margin-top: 0;
    }

    &.open {
      position: static;
      border-bottom: none;

      .dropdown-menu {
        border-width: 2px;
      }

    }

  }

  .calendar-filters__current {
    border-top: 2px solid $light-border-color;
    border-bottom: none;
    width: 100%;
    position: relative;
    padding: $base-unit*1.5 0 0 0;
    overflow: auto;

    p {
      margin: 0;
      float: left;
      max-width: calc(100% - 120px);
      margin-right: $base-unit;
    }
  }

  .calendar-filters__clear {
    float: left;
  }

  .calendar-actions--filtered {
    .open {
      .calendar-filters__clear {
        display: flex;
      }

      .calendar-filters__current {
        border-top: none;
      }
    }
  }

  .calendar-filters__inner {

    &.dropdown-menu {
      background: lighten($light-bg-color, 4%);
      border: 2px solid $light-border-color;
      padding: 0 $base-unit;
    }

    .calendar-actions__section {
      background: none;
    }

    .chosen-container {
      max-width: 300px;
      height: auto;

      .chosen-single {
        border: 1px solid #ddd !important;

        span {
          display: block;
        }
      }

      .chosen-drop {
        border: 1px solid #ddd;
        border-top: none;
        position: absolute;
        height: auto;
        top: auto;
      }

      .chosen-results {
        max-height: 240px;
        height: auto;
        margin: 0 4px 4px 0;
        padding: 0 0 0 4px;
      }
    }

    .chosen-container-active.chosen-with-drop {
      .chosen-single {
        border: 1px solid #ddd;
      }
    }

    .chosen-container-single .chosen-search {
      padding: 3px 4px;
    }
  }

  .calendar-search {
    width: 200px;
    position: absolute;
  }

  input[type="text"].calendar-search__input {
  	background: lighten($light-bg-color, 4%);
  	border-color: $light-border-color;
  }

  .page-calendar .content {
	  display: flex;
	  justify-content: space-between;
	  padding-top: $base-unit*3;
	}

}

@include media-query(lg) {

  .calendar-settings {
    max-width: 600px;
    margin-right: $base-unit*2;

    .calendar-actions__toggle {
    	height: 40px;
    }
  }

  .calendar-search {
  	width: 245px;
  }

  input[type="text"].calendar-search__input {
  	@include font-size($base-font-size);
  }

  .calendar-actions__toggle {
  	@include font-size($base-font-size);
  	padding-right: $base-unit*3;

  	&:before {
  		top: 12px;
  	}
  }

  .calendar-filters {
		.calendar-actions__toggle {
		  max-width: 120px;
		  margin-left: 250px;
		}
	}


  #fullcalendar {
	  flex: 0 0 70%;
	}

	.mini-cal-holder {
	  flex: 0 0 30%;
	}

}

@include media-query(xl) {

	.calendar-actions__toggle, input[type="text"].calendar-search__input {
  	@include font-size($medium-font-size);
  }
}


@media print {

  .calendar-export, .calendar-filters {
    display: none!important;
  }

  .calendar-settings {
    h2, label, .chosen-container, select {
      display: none!important;
    }
  }

}
