.node-ev-event {

	.field {
		margin-bottom: $base-unit*3;
	}

	.field-name-field-event-date {
		font-weight: bold;
	}

	.field-label {
		font-family: $heading-font;
		color: $heading-text-color;
		display: block;
		float: none;
		text-transform: uppercase;
		margin-bottom: $base-unit;
	}

	.field-items {
		float: none;
		display: block;

		strong {
			font-weight: 400;
		}
	}

}

.info-recurring {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dotted $mid-light-grey;
  padding-bottom: $base-unit*1.5;
  margin-bottom: $base-unit;
  
  > div {
    flex: 0 0 100%;
  }

  label {
    font-weight: 600;
    display: inline;
  }
  
}

.info-recurring--all-repeats {
  .info-recurring--all-repeats--dates {
    display: none;
  }
  
  &:hover .info-recurring--all-repeats--dates {
    display: block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid $mid-light-grey;
    padding: $base-unit*2;
    max-height: 50vh;
    overflow: auto;
  }
}

@include media-query(sm) {
  .info-recurring {
    padding-bottom: $base-unit*1.5;
    margin-bottom: $base-unit*2;

    > div {
      flex: 1;
    }
    
    > div + div {
      border-left: 1px solid $mid-light-grey;
      margin-left: $base-unit;
      padding-left: $base-unit;
    }
  }
}


.field-item {
	table {
		table-layout: fixed;
		width: 100%;
		margin-top: $base-unit;
	}

	tr.even, tr.odd {
		background: none;
		padding: 0;
		border: none;
	}

	td {
		width: 100%;
		display: block;
		word-wrap: break-word;
		padding: $base-unit;;
		background: $light-bg-color;
		position: relative;
		padding-left: $base-unit*9;

		a {
			font-style: italic;
			text-decoration: none;
			height: $base-unit*2;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 1;
			width: 100%;
			display: inline-block;
			@extend .icon-document;

			&:before {
				font-family: 'unocha-icons';
				font-style: normal;
				@include font-size(38);
				position: absolute;
				background: white;
				width: $base-unit*8;
				height: 65px;
				line-height: 65px;
				text-align: center;
				margin-top: -36px;
				margin-left: -$base-unit*9 +1;
				position: absolute;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		a[href$= ".docx"] {
			@extend .icon-document-file-docx;
		}

		a[href$= ".pdf"] {
			@extend .icon-document-file-pdf;
		}

		a[href$= ".ppt"], a[href$= ".pps"] {
			@extend .icon-document-file-ppt;
		}

		a[href$= ".txt"] {
			@extend .icon-document-file-txt;
		}

		&:first-child {
			font-weight: 400;
			color: $heading-text-dark-color;
			padding-bottom: 0;
		}

		&:last-child {
			margin-bottom: $base-unit/2;
		}

		img {
			display: none;
		}
	}
}

.icon-calendar.category-meeting {
	color: #79EBFD;
}
.icon-calendar.category-conference {
	color: #EF816B;
}
.icon-calendar.category-training {
	color: #346C7D;
}
.icon-calendar.category-workshop {
	color: #FFE389;
}

.page-node-add-ev-event .form-wrapper {
  select {
  	opacity: 0;
  	height: 34px;
  }
  &[class*="field-widget-"] > div > label:after {
    content: ' (Loading, please wait...)';
    font-weight: normal;
    font-style: italic;
    color: $secondary-heading-text-color;
  }

  .js & {
  	&[class*="field-widget-"] > div > label:after {
	    content: none;
	  }
  }
}

@include media-query(sm) {

	.node-ev-event {

		.field-items {
			@include font-size($medium-font-size);
		}

	}

	.field-item {
		table {
			border: none;
			margin: 0;
		}

		tr {
			position: relative;
		}

		td {
			padding: 0 $base-unit*2 $base-unit*2 $base-unit*12;

			a {
				&:before {
					@include font-size(48);
					width: $base-unit*10;
					height: 82px;
					line-height: 82px;
					margin-top: -44px;
					margin-left: -$base-unit*12 +1;
				}
			}

			&:first-child {
				padding: $base-unit*2 $base-unit*2 $base-unit/2 $base-unit*12;
			}

		}
	}

}
