.footer {
	background: $primary-bg-color;
	padding: $base-unit*2 0;
	margin-top: $base-unit*2;
	color: $light-text-color;
	@include font-size($small-font-size);
	font-family: $heading-font;
	height: $footer-height;

	p {
		margin-bottom: 0;
	}

	a, a.active {
		color: $light-text-color;
	}
}

.footer__nav {
	text-transform: uppercase;
	list-style: none;
	margin: 0 0 $base-unit*2 0;
	font-weight: 400;

	li {
		display: inline-block;
		position: relative;
		margin-right: $base-unit*1.5;

		&:after {
			content: "|";
			position: absolute;
			right: -10px;
	    font-size: 10px;
	    top: 1px;
	    opacity: 0.8;
		}

		&:last-child {
			margin: 0;

			&:after {
				content: none;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover, &:focus {
			border-bottom: 1px solid rgba(255,255,255, 0.6);
		}
	}
}

.footer__logo {
	margin-bottom: $base-unit;

	a {
		display: block;
		margin-top: $base-unit/2;
	}

	img {
		width: 140px;
	}
}

.footer__licence {
	position: relative;
	padding-right: $base-unit*4.5;

	.icon-creative-commons {
		@include font-size($large-font-size);
		position: absolute;
		right: 0;
		top: 0;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid rgba(255,255,255, 0.6);
		font-style: italic;

		&:hover, &:focus {
			border: none;
		}
	}
}

@include media-query(md) {

	.footer {
		padding: $base-unit*5 0;
	}

	.footer__nav {
		@include font-size($base-font-size);
		margin-bottom: $base-unit*4;

		li {
			margin-right: $base-unit*7;

			&:after {
				right: -33px;
				font-size: 12px;
			}
		}
	}

	.footer__logo {

		a {
			margin-top: $base-unit;
		}

		img {
			width: 160px;
		}
	}

	.footer__licence {
		text-align: right;
		padding: $base-unit*2.5 $base-unit*5.5 0 0;

		.icon-creative-commons {
			@include font-size(34);
			top: $base-unit*2.5;
		}
	}

}

@media print {
	.footer {
		display: none!important;
	}
}
