.sidebar-block {
  padding: $base-unit*2;
  margin-bottom: $base-unit;
  background: #E5F1F9;
  word-break: break-word;
}

.node-type-page .content .sidebar-block {
  h2, h3, h4, h5 {
    color: $secondary-heading-text-color;
    margin-bottom: $base-unit;
  }

  p {
    @include font-size($base-font-size);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
